<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/documents-list">View Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/create-document">Add Document</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    Document Management System By Moetez Ayari
  </span>
</nav>

<router-outlet></router-outlet>