<div class="container" style="margin-top: 50px;">
  <!-- No data message -->
  <p *ngIf="Document.length <= 0" class="no-data text-center">There is no Documents yet!</p>

  <!-- Document list -->
  <table class="table table-striped table-hover" *ngIf="Document.length > 0">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Doc</th>
        <th scope="col center">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of Document; let i = index">
        <td>{{document.fullName}}</td>
        <td>{{document.description}}</td>
        <td>{{date(document.date)}}</td>
        <td>{{document.doc}} <button (click)="getfile(document.doc)">Download</button>
        </td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-document/', document._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeDocument(document, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>